{% extends "index.html" %}

{% block title %} Home do gerenciador {% endblock %}

{% block content %}
    <head>
        <h1>Home do Gerenciador</h1>
    </head>

    <div class= conteiner>
        <p>
            <a class = "btn btn-primary", href = "{%url 'estoque:importacoes' %}" >Importaçoes</a>
        </p>

        <p>
            <a class ="btn btn-primary", href = "{%url 'estoque:estoque' %}">Estoque</a>
        </p>

        <p>
            <a class ="btn btn-primary", href = "{%url 'estoque:logout' %}">Logout</a>
        </p>
    </div>
    
    <div class= conteiner>
        <h2>Dados referentes ao Balanço Patrimonial da empresa</h2>
        
    
    
    
    </div>

{% endblock %}