{% extends "index.html" %}

{% block title %} Deleção de Importação {% endblock %}

{% block content %}
<div class ="card-body">
    <form method="post">
        {% csrf_token %}
        <div class="alert alert-warning" role ="alert">
            Tem certeza que voce quer deletar esta(s) <strong>{{ object.nome }}</strong> ?
        </div>

        <button class ="btn btn-outline-danger", href = "{%url 'estoque:estoque' %}">Deletar</button>

        <a class ="btn btn-primary", href = "{%url 'estoque:home' %}">Voltar</a>
    </form>
</div>
{% endblock %}