<!Doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block title %}Seven Sails - Gerenciador de Estoque{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  
  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Seven Sails</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
          </nav>
        </div>
      </header>

      <main class="px-3">
        {% block content %}

        {% endblock %}
      </main>
    
    </div>
  </body>


</html>

