{% extends "index.html" %}

{% block title %} Lista de produtos importados {% endblock %}

{% block content %}


<div class= conteiner>
    <h3>Listagem de produtos</h3>
        <table class = "table">
            <thead>
                <th> Produto </th>
                <th> Quantidade </th>
                <th> Peso(kg) </th>
                <th> Espaço total ocupado por produto(cm³)</th>
                <th> Detalhes </th>          
            </thead>
    
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object }}</td>
                    <td>{{ object }}</td>
                    <td>{{ object }}</td>
                    <td>
                        <a class = "btn btn-primary", href = "{%url 'estoque:importacao_detalhe' %}">Detalhes</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <p>
        <a class = "btn btn-primary", href = "{%url 'estoque:importacao_produto' %}">Cadastrar Produto</a>
    </p>

    <p>
        <a class ="btn btn-primary", href = "{%url 'estoque:home' %}">Voltar</a>
    </p>
</div>
{% endblock %}