{% extends "index.html" %}

{% load static %}

{% block title %} Lista de produtos importados {% endblock %}

{% block content %}

<div class= container>
    <h3>Listagem de produtos</h3>
        <table class = "table">
            <thead>
                <th> Codigo do Produto </th>
                <th> Nome </th>
                <th> Quantidade </th>
                <th> Preco </th>
                <th> Status </th>
                <th> Detalhes / Apagar</th>          
            </thead>
    
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.codigo }}</td>
                    <td>{{ object.nome }}</td>
                    <td>{{ object.quantidade }}</td>
                    <td>{{ object.preco }} </td>
                    <td>{{ object.status }} </td> 
                    <td>
                        <a class = "btn btn-primary", href = "{%url 'estoque:importacao_detalhe' object.pk %}">Detalhes</a>
                        <a class = "btn btn-primary", href = "{%url 'estoque:importacao_delete' object.pk %}">Apagar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <p>
        <a class = "btn btn-primary", href = "{%url 'estoque:importacao_produto' %}">Cadastrar Produto</a>
    </p>

    <p>
        <a class ="btn btn-primary", href = "{%url 'estoque:home' %}">Voltar</a>
    </p>
</div>
{% endblock %}